$black: #000;
$white: #fff;
$blue: #48AAF8;
$light-grey: #8E8E8E;
$light-grey1: #7C7C7C;
$light-grey2: #d1d1d1;
$light-grey3: #d4d4d4;
$light-grey4: #A2A6B0;
$black1: #2E2E2E;
$light-grey1: #BDBDBD;
$light-blue: #F8FCFF;
$dark-grey: #E8EAE9;
$green: #10846D;
$light-green: #EFF6F5;
$dark-green: #0E342C;