:root{
        --primary-theme-dark-color : #48AAF8;
        --primary-theme-light-color : #F8FCFF;
        --primary-theme-Semilight-color : ##E6F4FE;
        --primary-theme-ultralight-color : ##F3F5F5;
}